.front-container {
    display: block;
  position: relative;
  text-align: center;
  color: white;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  /* .front-container .img{
  border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  } */
  
  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: red;
  opacity: 0.5;
  width: 80%;
  }
  
  .button{
    position: absolute;
    top: 65%;
    left: 45%;
  }
  
  .centered p{
  margin: 0 10% 2%;
  }
  
  .services{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding-bottom: 2px;
  }
  
  .services img{
    border-radius: 10px;
  }

#highlights{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; 
    border-radius: 10px;
    margin-bottom: 5px;
}

#highlights .icon{
    background-color: black;
    border-radius: 100%;
    padding: 15px;
    background-size: 15px;
}

/* CSS starts for BackToTop-button */
html {
  scroll-behavior: smooth;
}
footer .back-to-top .bttBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  opacity: 0;
  z-index: 2;
}
footer .back-to-top .bttBtn.active {
  opacity: 1;
}
footer .back-to-top .bttBtn.active:hover {
  cursor: pointer;
  background: #fa6742;
  border-color: #fa6742;
}

.back-to-top .btn-dark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 1%;
  background: #2e2e2e;
  border-color: #a3a2a2;
  display: none;
  z-index: 999;
  transition: all 0.3s linear;
}

.back-to-top {
  position: relative;
  z-index: 2;
}
/* CSS ends for BackToTop-button */