  <!-- SignUp Modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModalLabel">SignUp Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/signup/" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="username" class="col-form-label">Username</label>
              <input name="username" type="text" class="form-control" aria-describedby="username-instruction" id="username" placeholder="Enter your username" required>
              <small id="username-instruction" class="form-text text-muted">Username must be unique and in lowercase and alphanumeric.</small>
            </div>
            <div class="form-group">
              <label for="fname" class="col-form-label">First Name</label>
              <input name="fname" type="text" class="form-control" id="fname" placeholder="Enter First Name" required>
            </div>
            <div class="form-group">
              <label for="lname" class="col-form-label">Last Name</label>
              <input name="lname" type="text" class="form-control" id="lname" placeholder="Enter Last Name" required>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email</label>
              <input name="email" type="email" class="form-control" id="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
              <label for="pass1" class="col-form-label">Password</label>
              <input name="pass1" type="password" class="form-control" id="pass1" aria-describedby="password-instruction" placeholder="Enter password" required>
              <small id="password-instruction" class="form-text text-muted">Password should be atleast 8 characters long.</small>
            </div>
            <div class="form-group">
              <label for="pass2" class="col-form-label">Confirm Password</label>
              <input name="pass2" type="password" class="form-control" id="pass2" placeholder="Enter password again" required>
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- LogIn Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">LogIn</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/signin/" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="loginusername" class="col-form-label">Username</label>
              <input name="loginusername" type="text" class="form-control" id="loginusername" placeholder="Enter your username">
            </div>
            <div class="form-group">
              <label for="loginpass" class="col-form-label">Password</label>
              <input name="loginpass" type="password" class="form-control" id="loginpass" placeholder="Enter your password">
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>