{% extends 'base.html' %}

{% block body %}
<section id="blog">
  <div class="container">

    {% for blog in blogs %}
    <div class="card">
      <div class="card__header">
        <img src="https://source.unsplash.com/600x400/?computer" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-blue">Technology</span>
        <h4><a href="/blogpost/{{blog.sno}}" style="color: inherit;">{{blog.title}}</a></h4>
        <p>{{blog.content|safe|slice:80}}...</p>
      </div>
      <div class="card__footer">
        <div class="user">
          <img src="https://i.pravatar.cc/40?img=12" alt="user__image" class="user__image">
          <div class="user__info">
            <h5>{{blog.author}}</h5>
            <small>{{blog.time|timesince}} ago</small>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-info d-block" onclick="location.href='{% url 'edit' blog.sno %}'">Edit your
        Blog</button>
      <button type="submit" class="btn btn-outline-danger mt-1"
        onclick="location.href='{% url 'delete' blog.sno %}'">Delete your Blog</button>
    </div>
    {% endfor %}
  </div>
  {% comment %} <div class="my-3 mx-5">
    {% if prev %}
    <a role="button" class="btn btn-info text-light" href="/blog?page={{prev}}">&laquo; Previous</a>
    {% else %}
    <a role="button" class="btn btn-info text-light disabled" href="#">&laquo; Previous</a>
    {% endif %}

    {% if nxt %}
    <a role="button" class="btn btn-info float-right text-light" href="/blog?page={{nxt}}">Next &raquo;</a>
    {% else %}
    <a role="button" class="btn btn-info float-right text-light disabled" href="#" >Next &raquo;</a>
    {% endif %}
    
  </div> {% endcomment %}
</section>
{% endblock body %}