{% extends 'base.html' %}

{% load static %}

{% block blogsactive %}active{% endblock blogsactive %}

{% block body %}
<section id="blog">
  {% if messages %}
  {% for message in messages %}
<div class="alert alert-{% if message.tags == 'error' %}danger {% elif message.tags == 'warning' %}warning {% elif message.tags == 'success' %}success {% else %}info {% endif %} alert-dismissible fade show mb-0" role="alert">
  <strong>Messages:-</strong> {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}

  
  {% if searchBlogs|length < 1 %} 
  <div class="container">
    <div class="col">
    <p>Not many great matches came back for your search: 
      <strong>"{{query}}"</strong>
      <br>Try more general keywords
      <br>Try fewer keywords
  </p>
</div>
  </div>
  {% else %}
  <h3 class="px-5 py-3">Search Results:-</h3>
    <div class="container">
      {% for blog in searchBlogs %}
      <div class="card">
        <div class="card__header">
          <img src="https://source.unsplash.com/600x400/?computer" alt="card__image" class="card__image" width="600">
        </div>
        <div class="card__body">
          <span class="tag tag-blue">Technology</span>
          <h4><a href="/blogpost/{{blog.slug}}" style="color: inherit;">{{blog.title}}</a></h4>
          <p>{{blog.content|safe|slice:80}}...</p>
        </div>
        <div class="card__footer">
          <div class="user">
            <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image">
            <div class="user__info">
              <h5>Jane Doe</h5>
              <small>2h ago</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="my-3 mx-5">
      {% if prev %}
      <a role="button" class="btn btn-info text-light" href="/search?query={{query}}&page={{prev}}">&laquo; Previous</a>
      {% else %}
      <a role="button" class="btn btn-info text-light disabled" href="#">&laquo; Previous</a>
      {% endif %}

      {% if nxt %}
      <a role="button" class="btn btn-info float-right text-light" href="/search?query={{query}}&page={{nxt}}">Next
        &raquo;</a>
      {% else %}
      <a role="button" class="btn btn-info float-right text-light disabled" href="#">Next &raquo;</a>
      {% endif %}

    </div>
    {% endif %}
</section>
{% endblock body %}